#places {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}

body {
    margin: 0;
}

.place[player="Jonas"] {
    background-color: green;
}

.place[player="Johannes"] {
    background-color: red;
}

.place[player="Nicolas"] {
    background-color: blue;
}

.place[player="Jeroen"] {
    background-color: yellow;
}

.place[player="Isaac"] {
    background-color: orange;
}