<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stravarisk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Stravarisk</h1>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <div id="places">
        <div class="place" style="background-color: aquamarine;"></div>
        <div class="place" style="background-color: rgb(255, 127, 144);"></div>
        <div class="place" style="background-color: rgb(255, 255, 127);"></div>
    </div>
</body>
</html>